*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    background: white;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 999;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background:#000000;
    opacity: 0.9;
    color: white;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.logo{
    color: white;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo span{
    color: red;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: red;
}
.navlist a.active{
    color: red;
}
#menu-icon{
    font-size: 35px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}