*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    background: whitesmoke
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 999;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background:#000000;
    opacity: 0.9;
    color: white;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.logo{
    color: white;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo span{
    color: red;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: red;
}
.navlist a.active{
    color: red;
}
#menu-icon{
    font-size: 35px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}


/* ----- This is Home Section --------- */

.slider{
    position: relative;
    width: 100%;
    background: #2c3e50;
    
}
.homeSlider{
    height: 655px;
    overflow: hidden;
    display: none;

}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    color: white;
    transition: 0.1s;
    user-select: none;
    cursor: pointer;
}

.prev:hover, .next:hover{
    color: #3498db;
}
.next{
    right: 0;
}
.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
    }
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
    
}
@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
    }

.text-headers{
        position: absolute;
        color: #fff;
        letter-spacing: 2px;
        line-height: 35px;
        top: 40%;
        left: 15%;
        -webkit-animation-name: posi;
        -webkit-animation-duration: 2s;
        animation-name: posi;
        animation-duration: 2s;
        z-index: 1;
}
@-webkit-keyframes posi{
    from{left: 25%;}
    to{left: 15%;}

}
@keyframes posi{
    from{left: 25%;}
    to{left: 15%;}
}

.text-headers h2{
    color:rgb(12, 5, 5);
    font-weight: bold;
    margin: 20px;
    font-size: 30px;
}
.text-headers p{
    font-weight: bold;
    font-size: 20px;

}
.Img{
    transform: scale(1.5,1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}


@-webkit-keyframes zoomin{
    from{transform: scale(1,1);}
    to{transform: scale(1.5, 1.5);}
}


@keyframes zoomin{
    from{transform: scale(1,1);}
    to{transform: scale(1.5, 1.5);}
}



/* -------The about Section------------------ */

.aboutsection{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    

}
.aboutus-title{
    text-align: center;
    
}
.aboutus-title h2{
    margin: 3rem;
    font-weight: bold;
    font-size: 3rem;
    color: red;
    font-family: sans-serif;
}

.aboutus-title  p{
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    align-content: center;
    font-size: 1.1rem;
    font-family: sans-serif;
    
}

.aboutus-title  p span{
    font-size: bold;
    color: red;
    font-weight: bold;
}
.aboutsection .row{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.aboutsection .solzarSystem{
    flex: 0 0 50%;
    height: 600px;
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center;
    /* background: url('images/galaxy.jpeg') no-repeat;
    background-size: cover; */
    


    
}
.sun{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: rgb(225, 81, 0);
     position: absolute;
    box-shadow: 0 0 75px rgba(255,141,0,1);
}
.earth{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: url('images/earth-5.jpg') no-repeat; 
    position: relative;
    background-size: cover;
    border: none;
    animation: earth-orbit 7s linear infinite;



}

@keyframes earth-orbit{
    from{
        transform: rotate(0deg) translateX(220px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(220px) rotate(-360deg);
    }
}

.aboutsection .aboutInfo{
    flex: 0 0 50%;
    

}