@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
    background: white;
    
}
:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --text-title-200: #7632D2

}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 999;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: white;
    color: black;
    padding: 5px 10%;
    border-bottom: 1px solid;
    transition: all .45s ease;
}
.logo{
    color:rgb(56, 130, 209);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navlist{
    display: flex;
}
.navlist a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    margin: 5px;
    transition: all .45s ease;
    border-radius: 22px;
}
.navlist a:hover{
    transition: 0.25s;
    background: rgb(56, 130, 209);
    color: white;
}
.navlist a.active{
    background: rgb(56, 130, 209);
    color: white;
}
#menu-icon{
    font-size: 35px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}


/* ----- This is Home Section --------- */

.slider{
    position: relative;
    width: 100%;
    background: #2c3e50;
    
}

.color-overlay{
    width:100%;
    height:100%;
    background: #000;
    opacity: .5;
    position: absolute;
    z-index: 1;
}
.homeSlider{
    height: 655px;
    overflow: hidden;
    display: none;

}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    color: white;
    transition: 0.1s;
    user-select: none;
    cursor: pointer;
}

.prev:hover, .next:hover{
    color: #3498db;
}
.next{
    right: 0;
}
.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
    }
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
    
}
@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
    }

.text-headers{
        position: absolute;
        color: #fff;
        letter-spacing: 2px;
        line-height: 35px;
        top: 40%;
        left: 15%;
        -webkit-animation-name: posi;
        -webkit-animation-duration: 2s;
        animation-name: posi;
        animation-duration: 2s;
        z-index: 1;
}
@-webkit-keyframes posi{
    from{left: 25%;}
    to{left: 15%;}

}
@keyframes posi{
    from{left: 25%;}
    to{left: 15%;}
}

.text-headers h2{
    color: white;
    font-weight: bold;
    margin: 20px;
    width: 40%;
    line-height: 50px;
    font-size: 50px;
}
.text-headers h2 span{
    color:rgb(56, 130, 209);
}
.text-headers p{
    font-weight: 500;
    font-size: 20px;
    width: 60%;

}
.text-headers p span{
    color:rgb(56, 130, 209);
    font-weight: 900;
}
.Img{
    transform: scale(1.5,1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}


@-webkit-keyframes zoomin{
    from{transform: scale(1,1);}
    to{transform: scale(1.5, 1.5);}
}


@keyframes zoomin{
    from{transform: scale(1,1);}
    to{transform: scale(1.5, 1.5);}
}



/* -------The about Section------------------ */

.aboutsection{
    
   
    display: flex;
    flex-direction: column;
    

}
.aboutInfoSection{
    
    
}

.aboutsection .solzarSystem .solar-energy{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.aboutsection .solzarSystem .solar-energy img {
    margin-top: 20px;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.aboutus-title{
    text-align: center;
    
}
.aboutus-title {
    display: inline-block;
    position: relative;
}

.aboutus-tit  h2 {
    display: inline-block;
    position: relative;
    
}


.aboutus-title h2{
    
    font-weight: 700;
    font-size: 30px;
    color:rgb(56, 130, 209);
    font-family: 'Poppins' sans-serif;
}

.aboutus-title  p{
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    align-content: center;
    font-size: 1.1rem;
    font-family: sans-serif;
    
}

.aboutus-title  p span{
    font-size: bold;
    color: red;
    font-weight: bold;
}
.aboutsection .row{
    margin-right: 4rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
}

.aboutsection .solzarSystem{
    flex: 0 0 50%;
    height: 600px;
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center;
    /* background: url('images/galaxy.jpeg') no-repeat;
    background-size: cover; */
    


    
}


.aboutsection .aboutInfo{
    margin-top: 4rem;
    flex: 0 0 50%;
    margin-left: 3rem;
    

}
.aboutInfo .about-title{
    color:rgb(56, 130, 209);
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
    display: flex;
    display: flex;
    flex-direction: column;
    

}
.aboutsection .aboutInfo .info-box{
    flex: 0 0 100%;
    max-width: 100%;
    }

.aboutsection .aboutInfo .info{
    
    
    border-radius: 10px;
    width: 100%;
    position: relative;

}  

.aboutsection .aboutInfo .info-item{
    position: relative;
    padding-left: 37px;

}

.aboutsection .aboutInfo .info-item:last-child{
padding-bottom: 0;
}

.aboutsection .aboutInfo .info-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color:rgb(56, 130, 209);
}
.aboutsection .aboutInfo .circle-dot{
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:rgb(56, 130, 209);
}
.aboutsection .aboutInfo .info-title{
    font-weight: 700;
    font-size: 15px;
    
    color:rgb(56, 130, 209);

}
.aboutsection .aboutInfo .timeline-text{
    line-height: 20px;
    font-size: 16px;
    text-align: justify;
}
/* --------Banner section--------- */
.counter-wrapper{
    background: url(images/bannerimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem 9%;
    margin-top: 5rem;
    position: relative;

}
.counter-wrapper::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.counter{
    text-align: center;
    color: #ddd;
    z-index: 2;
    position: relative;
}
.counter::before{
  position: absolute;
  content: '';
  bottom: -2rem;
  left: 50%;
  width: 20%;
  background: #4db7fe;
  height: .2rem;
  transform: translateX(-50%);
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -o-transform: translateX(-50%);


}
.counter .count{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.counter p{
    font-size: 1.4rem;
}

/* --------Service  Section Style */

.ServiceSection {
    text-align: center;
}
.service-title{
    margin: 2rem;
    color:rgb(56, 130, 209);
}

.service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    margin-bottom: 10px; 
    padding: 30px;
    
    
}
.service-inner-item{
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 100%; 
    box-sizing: border-box;
}
.service-inner-item:hover{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    
}
.icon img {
    width: 40px; 
    height: 40px; 
    font-size: 40px;
}

.service-inner-item h4{
    color:rgb(56, 130, 209);
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: capitalize;
    

}
.service-inner-item p {
    font-size: 16px;
    line-height: 25px;
}



@media (max-width: 767px) {
    .service-item {
        flex: 0 0 100%; /* On smaller screens, make each service item take the full width */
    }
}


/* ==========Contact ================= */
.contact-title{
    color:rgb(56, 130, 209);
    text-align: center;
    
}

.contact-info {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
}

.contact-info-item {
    text-align: center;
    margin: 0 20px; 
    max-width: 200px; 
}

.icon-info img {
    width: 50px; 
    height: 50px; 
}

h4 {
    margin: 10px 0; 
    color:rgb(56, 130, 209);
}

p {
    margin: 10px 0; 
}

.contact-message h3{
    text-align: center;
    margin-top: 2rem;
    color:rgb(56, 130, 209);

}
.contact-message h4{
    text-align: center;
    margin-top: 3rem;
} 
.contact-form{
    margin: 4rem;
    flex: 0 0 100%;
    max-width: 100%;
    align-items:center;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-item-f{
    width: 50%;
    margin: 2rem;

}
.form-control{

 width:100%;
 height: 50px;
 background: var(--bg-black-100);
 border-radius: 25px;
 padding: 10px 25px;
 font-size: 16px;
 border: 1px solid var(--bg-black-50);
 color: var(--text-black-700);
 transition: all 0.3s ease;
}

.form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
textarea.form-control{
    height: 140px;
}



.form-group {
    margin-bottom: 15px; 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px; 
    background-color: #4CAF50; 
    color: #ffffff; 
    border: 2px solid #4CAF50; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover styles */
.btn:hover {
    background-color: #45a049; 
    border-color: #45a049; 
    color: #ffffff; 
}




.testimony h2 {
    text-align: center;
    color: #3498db;
    
}
.testimony h4{
    text-align: center;
}

.testimony .test-container{
    
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    

}
.testimony .test-container .testimonials{
    
    width: 50vw;
    margin: 2rem;
    padding: 45px 20px 20px;
    border-top: 4px solid rgb(0,148 , 190);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    animation: fade 0.2;
}

@keyframes fade{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;

    }
}

.Prev,
.Next {
    
    display: inline-block;
    background: #fff;
    box-shadow: 0 2px 4px 1px rgba(50, 50, 93, 0.1);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 184, 190);

}

.Prev:hover,
.Next:hover{
    cursor: pointer;
    transform: translateY(-4px);

}

.footer{
    padding: 2rem;
    background: #121b25;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 3.5rem;
    color: white;

}
.footer .footer-content-2 h3{
    font-weight: 700;
}
.footer .footer-content-2 p{
    width: 17rem;
}
.footer .footer-content-2 .icons{
  margin-top: 2px;
  background: white;
  width: 10rem;
  padding: 2px;
  
  
}
.footer .footer-content-2 .icons a {
    display: inline-block;
    margin-right: 10px; 
}

.footer .footer-content a{
    margin-top: 2rem;

    color: white;
}








@media (max-width:1200px) {
    section{
        padding: 3rem 5%;
    }
  

        }

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    section{

        padding: 3rem 2rem;

            }
          
                }
@media (max-width: 768px) {
    /* Your existing CSS styles */

#menu-icon {
    display: inline-block;
  }
  
  #menu-icon span {
    font-size: 20px; /* Adjust the size as needed */
    margin-right: 5px; /* Adjust spacing as needed */
  }
  
    header .navlist{
        position: absolute;
        top: 100%; left:0; right:0;
        border-top: 1px solid #000;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    header .navlist:active{
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);

    }
    .navlist a{
        display: block;
        margin: 1rem;
        text-align: center;

    
    
}
}
@media (max-width:450px) {
         html{
            font-size: 50%;

            }
       
                          
        }
      


